			/* 	
				orange	#ff6633
				grey 	#2e2e2e	
			*/
				body {
					background: #fff;
					color: #000;
					font-family: 'Open Sans', sans-serif;
				}
				.content {
					margin-top: 50px;
				}
							
							
				/* printerBox */
					.printerBox {
						padding-left:10px;
						margin:5px;
						text-align:center;
						box-shadow:2px 2px 5px 1px rgba(0,0,0,0.5);
						border: 3px solid transparent;
						padding: 1rem;
						border-radius: 5px;
						min-height: 5rem;
					}
					.printerBox a {color: #000;}
					.printerBox a:hover {color: #000; text-decoration: underline;}
				
				/* printerBox states */
					/* canceling - blink orange/orange dark */
						.canceling {
							color:#fff;
							-webkit-animation: cancelingAni 1s infinite;  /* Safari 4+ */
							-moz-animation: cancelingAni 1s infinite;  /* Fx 5+ */
							-o-animation: cancelingAni 1s infinite;  /* Opera 12+ */
							animation: cancelingAni 1s infinite;  /* IE 10+, Fx 29+ */
						}
							@-webkit-keyframes cancelingAni {
							  0%, 49% {
							    background-color: #ff6633 !important;
							    border: 3px solid #000;
							  }
							  50%, 100% {
							    background-color:#9b3d1e !important;
							    border: 3px solid #9b3d1e;
							  }
							}
					
					.colsedOrError {
						background-color: transparent;
					}
					
					.error {
						color:#fff !important;
						background-color: #d30000 !important;
						border: 3px solid #000 !important;
					}
					
						.finishing {
							color:#000;
							-webkit-animation: cancelingAni 1s infinite;  /* Safari 4+ */
							-moz-animation: cancelingAni 1s infinite;  /* Fx 5+ */
							-o-animation: cancelingAni 1s infinite;  /* Opera 12+ */
							animation: cancelingAni 1s infinite;  /* IE 10+, Fx 29+ */
							transition: ease-in-out;
						}
							@-webkit-keyframes cancelingAni {
							  0%, 49% {
							    background-color: #78be20 !important;
							    border: 3px solid #78be20 !important;
							  }
							  50%, 100% {
							    background-color:#9cf035 !important;
							    border: 3px solid #9cf035 !important;
							  }
							}
					
					.operational {
						color:#000;
						background-color:transparent;
						border: 3px solid #6aa325 !important;
					}
					
					.paused {
						color: #000;
						background-color: #FFD300 !important;
					}
					
						.pausing {
								color:#000;
							-webkit-animation: pausingAni 1s infinite;  /* Safari 4+ */
							-moz-animation: pausingAni 1s infinite;  /* Fx 5+ */
							-o-animation: pausingAni 1s infinite;  /* Opera 12+ */
							animation: pausingAni 1s infinite;  /* IE 10+, Fx 29+ */
							transition: ease-in-out;
						}
							@-webkit-keyframes pausingAni {
							  0%, 49% {
							    background-color: #FFD300 !important;
							    border: 3px solid #000 !important;
							  }
							  50%, 100% {
							    background-color:#cfae04 !important;
							    border: 3px solid #a2a2a2 !important;
							  }
							
					}
					
					.printing {
						color:#000;
						background: repeating-linear-gradient(
						  -45deg,
						  #78be20,
						  #78be20 10px,
						  #77b728 10px,
						  #77b728 20px
						) !important;
					}
					
					.ready {
						color:#000;
						background-color:#6aa325 !important;
						border: 3px solid #6aa325 !important;
					}
					
						.resuming {
							color:#000;
							-webkit-animation: resumingAni 1s infinite;  /* Safari 4+ */
							-moz-animation: resumingAni 1s infinite;  /* Fx 5+ */
							-o-animation: resumingAni 1s infinite;  /* Opera 12+ */
							animation: resumingAni 1s infinite;  /* IE 10+, Fx 29+ */
							transition: ease-in-out;
						}
							@-webkit-keyframes resumingAni {
							  0%, 49% {
							    background: repeating-linear-gradient(
								  -45deg,
								  #78be20,
								  #78be20 10px,
								  #77b728 10px,
								  #77b728 20px
								) !important;
							    border: 3px solid transparent !important;
							  }
							  50%, 100% {
							    background: repeating-linear-gradient(
								  -45deg,
								  #77b728,
								  #77b728 10px,
								  #78be20 10px,
								  #78be20 20px
								) !important;
							    border: 3px solid transparent !important;
							  }
					}
									
					.offline {
						color: #000;
						border: 1px solid #ccc;
						background: repeating-linear-gradient(
								  -45deg,
								  #a2a2a2,
								  #a2a2a2 10px,
								  #ccc 10px,
								  #ccc 20px
								);
					}
					.printerTitle {
					    margin: 2rem;
					    font-weight: 700;
					}
					.head,.body,.foot {
					    margin-bottom: 2rem;
					}
					
					.status {
					    font-weight: bold;
					}
					.foot-state-icons .fa {color: #383838}
					.foot-state-icons .fa.hideMe {display: none;}